.App {
  text-align: center;
}

.main-button { 
  outline: none;
  border: none;
  cursor: pointer;
  background-color: #fff;
}

.main-button:hover {
  background-color: #ccc;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

